@model ConfiguratorApp.Company

@{
    ViewBag.Title = "Компания";
}

<h2>Общие настройки</h2>

Название компании: @Html.EditorFor(Model=>Model.Name)
Логин: @Html.EditorFor(Model => Model.AccountName)
Пароль: 

Адрес: @Html.EditorFor(Model => Model.Address)
Телефон: @Html.EditorFor(Model => Model.Phone)
E-Mail: @foreach (var email in Model.Emails)
{
    @Html.Editor(email.CompanyEmail);
}

